Bascula/BasculaDLL/Service References/ServicioBasculita/LeerEthernet31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pyros:9055/LeerEthernet.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfBascula" />
  <xs:element name="ObtenerLectura">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcfBascula" minOccurs="0" name="DatosConexion" nillable="true" type="q1:Conexion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLecturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerLecturaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>