Bascula/BasculaDLL/Service References/ServicioBasculita/LeerEthernet3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcfBascula" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcfBascula" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Conexion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaracterABuscar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaracterDeEjecucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumCaracteres" type="xs:int" />
      <xs:element minOccurs="0" name="PosicionInicial" type="xs:int" />
      <xs:element minOccurs="0" name="Puerto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Conexion" nillable="true" type="tns:Conexion" />
</xs:schema>